<div>
<div style=" padding-left: 300px; ">
	<table>
		<tr>
			<td style=" padding-left: 15px; "><h6 style=" font-size: 10px; color: #CDD8DB; ">круглосуточный телефон центр-звонков: +7 (727) 345 57 57</h6></td>
		</tr>
		<tr>
			<td style=" padding-left: 15px; "><h6><b><%= image_tag("logo.png", :size => "67x31") %></b></h6></td>
			<td style=" padding-left: 53px; "><h6 style=" font-size: 11px; color: #18BEE7; "><b>открой @kaqun</b></h6></td>
		</tr>
	</table>
</div>

<div class="panel-group" id="accordion" style=" padding-left: 300px; ">
  <div>
  <div>
    <div>
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        <h6 style="font-size: 10px; padding-left: 15px;">
        <div style=" padding-top: 8px; ">
        <table>
	        <tr>
		        <td><%= image_tag("doctor.png", :size => "25x25") %></td>
		        <td style="padding-top: 5px; padding-left: 10px; color: #00A99D; ">Технология</td>
		        <td style=" padding-left: 320px; color: #00A99D; padding-top: 5px; "><%= image_tag("open.png", :size => "15x15") %></td>
	        </tr>
        </table>
        </div>
        </h6>
      </h4>
    </div>
    </div>
    </a>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="pre-scrollable panel-body" style="padding-left: 50px; height: 500px; width: 450px; ">
      <h6 style="font-size: 11px; color: #00A99D;">
      	<table>
      		<tr>
      			<td>Доктор Роберт ЛАЙОНС<br><br>Основатель компании и технологии KAQUN. Занимался<br> 
					разработкой на протяжении 25 лет и представил 3 вида<br> 
					продукта на основе Q - элемента. Сегодня представительства<br>
					и филиалы присутствуют на территории 10 стран и успешно<br> 
					выполняют поставленную задачу - регенирирование<br> 
					поврежденных клеток организма человека. Обладатель<br> 
					более 50 премий в о бласти развития новых медицинских<br> 
					технологий и сертификатов.</td>
      		</tr>

      		<tr>
      			<td style=" padding-top: 35px; "><%= image_tag("icon1.png", :size => "15x15") %> Работа над созданием проходила</td>
      			
      		</tr>
      		<tr><td style=" padding-left: 35px; ">-лаборатория университета Солт Лэйк Сити</td></tr>
      		<tr><td style=" padding-left: 35px; ">-исследовательская лаборатория NASA</td></tr>
      		<tr>
      			<td style=" padding-top: 35px; "><%= image_tag("icon2.png", :size => "15x15") %> Посмотреть видео производства</td>
      			
      		</tr>
      		<tr><td style=" padding-left: 35px; ">-демонстрирует проиводство</td></tr>
      		<tr><td style=" padding-left: 35px; ">-мнение экспертов</td></tr>
      		<tr>
      			<td style=" padding-top: 35px; "><%= image_tag("icon3.png", :size => "15x15") %> Благоприятные свойства Q - элемента</td>
      		</tr>
      			<tr><td style=" padding-left: 35px; ">-стимулирует восстановление иммунитета.</td></tr>
      			<tr><td style=" padding-left: 35px; ">-способствует регенерации клеток.</td></tr>
      			<tr><td style=" padding-left: 35px; ">-запускает механизм самооздоровления организма.</td></tr>
			    <tr><td style=" padding-left: 35px; ">-влияет на обменные процессы организма.</td></tr>
			    <tr><td style=" padding-left: 35px; ">-снимает усталость и психологический дискомфорт.</td></tr>
			    <tr><td style=" padding-left: 35px; ">-ускоряет регенерацию клеток организма.</td></tr>
     			<tr><td style=" padding-left: 35px; ">-ускоряет естественную детоксикацию организма.</td></tr>
      			
      		
      	</table>
      	</h6>
      </div>
    </div>
  </div>

  <div>
    <div>
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        <h6 style="font-size: 10px; ">
        <div style=" padding-top: 8px; ">
        <table>
	        <tr>
		        <td style=" padding-left: 15px; "><%= image_tag("element.png", :size => "25x25") %></td>
		        <td style="padding-top: 5px; padding-left: 10px; color: #00A99D; ">Продукты</td>
		        <td style=" padding-left: 328px; color: #00A99D; padding-top: 5px; "><%= image_tag("open.png", :size => "15x15") %></td>
	        </tr>
        </table>
        </div>
        </h6>
        </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body" style=" padding-left: 50px; width: 450px; ">
      	<h6 style="font-size: 11px; color: #00A99D;">
      	<table>
      		<tr>
      			<td><%= image_tag("water.png", :size => "15x15") %> <b>Вода KAQUN</b></td>
      		</tr>
      		<tr>
      			<td style=" padding-top: 10px; ">Обладает полезными свойствами для интенсивной<br>
					лечения поврежденных участков организма человек. Содержит<br> 
					в себе дозированный кислород для приема во время водных<br> 
					процедур.
				</td>
      		</tr>

      		<tr>
      			<td style=" padding-top: 25px; "><%= image_tag("gel.png", :size => "15x15") %> <b>Гель KAQUN</b></td>
      		</tr>
      		<tr>
      			<td style=" padding-top: 10px; ">Увеличивает содержание кислорода в коже и<br>
					увлажняет кожу. С помощью геля кожа регенерирует,<br>
					приобретает гибкость и свежесть. Кислород, содержащийся в геле,<br>
					дезинфицирует кожу локально и одновременно создает среду для<br>
					здорового роста клеток.
				</td>
      		</tr>

      		<tr>
      			<td style=" padding-top: 25px; "><%= image_tag("gold.png", :size => "15x15") %> <b>Голд KAQUN</b></td>
      		</tr>
      		<tr>
      			<td style=" padding-top: 10px; ">Благотворное воздействие золота было обнаружено<br>
					уже в древние времена и позднее было также научно подтверждено.<br>
					Секретом золота является легкая впитываемость и проникновение<br>
					в глубокие слои кожи.
				</td>
      		</tr>

      		
      			
      		
      	</table>
      	</h6>
      </div>
    </div>
  </div>
  <div>
    <div>
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        <h6 style="font-size: 10px; ">
        <div style=" padding-top: 8px; ">
        <table>
	        <tr>
		        <td style=" padding-left: 15px; "><%= image_tag("partner.png", :size => "25x25") %></td>
		        <td style="padding-top: 5px; padding-left: 10px; color: #00A99D; ">Партнеры</td>
		        <td style=" padding-left: 328px; color: #00A99D; padding-top: 5px; "><%= image_tag("open.png", :size => "15x15") %></td>
	        </tr>
        </table>
        </div>
        </h6>
        </a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="pre-scrollable panel-body" style=" padding-left: 50px; height: 500px; width: 450px; ">
      	<h6 style="font-size: 11px; color: #00A99D;">
      	<table>
      		<tr>
      			<td><b>KAQUN SLOVAKIA</b><br><br>www.kaqun.sk</td>
      		</tr>
      		<tr>
      			<td style=" padding-top: 10px; ">Доступен весь перечень продуктов и услуг<br>
												для лечения и диагностики организма человека.<br> 
												Частота посещения составляет 25 человек в день.
												
				</td>
      		</tr>

      		<tr>
      			<td style=" padding-top: 25px; "><b>HELLENE </b><br><br>www.hellene.sk</td>
      		</tr>
      		<tr>
      			<td style=" padding-top: 10px; ">Пансионат для отдыха и оздоровления<br> 
												организма человека в Словакии. 
				</td>
      		</tr>

      		<tr>
      			<td style=" padding-top: 25px; "> <b>WEALTH MANAGMENT GROUP</b><br><br>www.wealth.com.ru</td>
      		</tr>
      		<tr>
      			<td style=" padding-top: 10px; ">Европейская инвестиционная компания, пакет<br>
												которой содержит сеть АЗС, клиники и мобильное<br>
												приложение.
				</td>
      		</tr>

			<tr>
      			<td style=" padding-top: 25px; "> <b>KAQUN EUROPE</b><br><br>www.kaqun.eu</td>
      		</tr>
      		<tr>
      			<td style=" padding-top: 10px; ">Клиника для лечения и диагностики организма<br>
												человека с продуктами, которые содержат<br>
												Q - элемент.
				</td>
      		</tr>	

      		<tr>
      			<td style=" padding-top: 25px; "> <b>ELOWATER</b><br><br>www.elowater.eu</td>
      		</tr>
      		<tr>
      			<td style=" padding-top: 10px; ">Медицинская клиника в Сингапуре, которая<br>
												предоставляет лечение и диагностику организма<br>
												человека водными процедурами.</td>
      		</tr>

      		<tr>
      			<td style=" padding-top: 25px; "> <b>EMINEO CLINIC</b><br><br>www.emineo.hu</td>
      		</tr>
      		<tr>
      			<td style=" padding-top: 10px; ">Медицинская клиника в Республике Чехия,<br>
												которая предоставляет лечение и диагностику<br>
												организма человека.
				</td>
      		</tr>

      		<tr>
      			<td style=" padding-top: 25px; "> <b>BANKERS TRUST FEDERAL RESERVE SERVICE</b><br><br>www.bankers-trust.us</td>
      		</tr>
      		<tr>
      			<td style=" padding-top: 10px; ">Консультационная компания в сфере<br>
												предоставления банковских бухгалтерских<br>
												услуг в США.
				</td>
      		</tr>

      		<tr>
      			<td style=" padding-top: 25px; "> <b>ALUMED CLINIC</b><br><br>www.alumed.ru</td>
      		</tr>
      		<tr>
      			<td style=" padding-top: 10px; ">Клиника здорового питания, которая<br>
												предоставляет услуги в измерении<br>
												рациона питания и его контроле.
				</td>
      		</tr>

      		<tr>
      			<td style=" padding-top: 25px; "> <b>RUSOXY</b><br><br>www.rusoxy.ru</td>
      		</tr>
      		<tr>
      			<td style=" padding-top: 10px; ">Клиника в Российской Федерации, которая<br>
												предоставляет продукт с дозированным<br>
												содержанием кислорода.
				</td>
      		</tr>

      		<tr>
      			<td style=" padding-top: 25px; "> <b>KIRLIONIKS TECHNOLOGIES INTERNATIONAL</b><br><br>www.ktispb.ru</td>
      		</tr>
      		<tr>
      			<td style=" padding-top: 10px; ">Медицинская исследовательская компания,<br>
												которая предоставляет продукт для диагностики<br>
												состояния здоровья организма человека.
				</td>
      		</tr>	

      		<tr>
      			<td style=" padding-top: 25px; "> <b>NATIONAL SCIENTIFIC MEDICAL CENTER</b><br><br>www.nnmc.kz</td>
      		</tr>
      		<tr>
      			<td style=" padding-top: 10px; ">Национальный научный медицинский<br>
												для лечения и диагностики состояния здоровья<br>
												организма человека.
				</td>
      		</tr>     		
      			
      		
      	</table>
      	</h6>
      </div>
    </div>
  </div>
  <div>
    <div>
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        <h6 style="font-size: 10px; ">
        <div style=" padding-top: 8px; ">
        <table>
	        <tr>
		        <td style=" padding-left: 15px; "><%= image_tag("partner.png", :size => "25x25") %></td>
		        <td style="padding-top: 5px; padding-left: 10px; color: #00A99D; ">Контакты</td>
		        <td style=" padding-left: 330px; color: #00A99D; padding-top: 5px; "><%= image_tag("open.png", :size => "15x15") %></td>
	        </tr>
        </table>
        </div>
        </h6>
        </a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="pre-scrollable panel-body" style=" padding-left: 50px; height: 500px; width: 450px; ">
      	<h6 style="font-size: 11px; color: #00A99D;">
      	<table>
      		<tr>
      			<td><b>Kaqun Астана</b><br><br>+7 (717) 355 57 57</td>
      		</tr>
      		<tr>
      			<td style=" padding-top: 10px; ">Казахстан, Астана<br>
												Проспект Жангир Хана, 45
												
				</td>
      		</tr>

      		<tr>
      			<td style=" padding-top: 25px; "><b>Kaqun Алматы </b><br><br> +7 (727) 355 57 57</td>
      		</tr>
      		<tr>
      			<td style=" padding-top: 10px; ">Казахстан, Алматы<br>
												Проспект Аль-Фараби, 77
				</td>
      		</tr>

      		<tr>
      			<td style=" padding-top: 25px; "> <b>Kaqun Санкт-Петербург</b><br><br>+7 (498) 355 57 57</td>
      		</tr>
      		<tr>
      			<td style=" padding-top: 10px; ">Россия, Санкт-Петербург<br>
												Проспект Невский, 55 
				</td>
      		</tr>

			<tr>
      			<td style=" padding-top: 25px; "> <b>Kaqun Варшава</b><br><br>+7 (986) 355 57 57</td>
      		</tr>
      		<tr>
      			<td style=" padding-top: 10px; ">Словакия, Варшава<br>
												Проспект Риард Гард, 55
				</td>
      		</tr>	

      		<tr>
      			<td style=" padding-top: 25px; "> <b>Kaqun Париж</b><br><br>+7 (459) 355 57 57</td>
      		</tr>
      		<tr>
      			<td style=" padding-top: 10px; ">Франция, Париж<br>
												Проспект Дорога, 45
				</td>
      		</tr>

      		<tr>
      			<td style=" padding-top: 25px; "> <b>Kaqun Киола</b><br><br>+7 (565) 355 57 57</td>
      		</tr>
      		<tr>
      			<td style=" padding-top: 10px; ">Сингапур, Киола<br>
												Проспект Мэйн Роад, 55
      				
      			</td>
      		</tr>
		</table>
      	</h6>
      </div>
    </div>
  </div>
</div>

<div style=" padding-left: 300px; color: #18BEE7; ">
	<table>
		<tr>
			<td style=" padding-left: 15px; "><h6 style=" font-size: 10px; "><b>ООО "Кагун Линия Жизни"</b></h6></td>
			<td><h6 style=" font-size: 10px; padding-left: 165px; "><b>Контакты</b></h6></td>
			<td><h6 style=" font-size: 10px; padding-left: 5px; "><b>Пресса</b></h6></td>
			<td><h6 style=" font-size: 10px; padding-left: 5px; "><b>Медиа</b></h6></td>
		</tr>
	</table>
</div>
</div>